$retailer-blue: #4e69a5;
$retailer-yellow: #ffb82f;
$retailer-grey: #676767;
$retailer-yellow-alt: #ffd65b;
$retailer-blue-alt: #314369;

$retailer-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.31);
$retailer-shadow-lite: 5px 6px 17px 0px rgba(0, 0, 0, 0.1);
